<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <!-- Navbar Bootstrap 4 code from w3school -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    {{!-- <nav class="navbar navbar-expand-sm bg-light"> --}}

      <!-- Links -->
      {{!-- <ul class="navbar-nav">

        <a class="navbar-brand" href="/">Riya Mehta</a>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/skills">My Skills</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/work">My Work</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>

      </ul>

    </nav>  --}}

  </head>
  <body>
    {{{body}}}
  </body>
</html>
