<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <!-- Navbar Bootstrap 4 code from w3school -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light">

      <!-- Links -->
      <ul class="navbar-nav">
        <a class="navbar-brand" href="/">Express Tracker</a>
        <li class="nav-item">
          <a class="nav-link" href="/about">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Project/index">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>

    </nav> 

  </head>
  <body>
    {{{body}}}
  </body>
</html>
